@font-face {
  font-family: "FontAwesome";
  src: url('/static/fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Weather';
  src: url('/static/fonts/weather.ttf') format('truetype');
}

@font-face {
    font-family: 'Open-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Open-Reg';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Open-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

body {
	background: black;
}

h1, h2, h3, h4, .pure-g h1, .pure-g h2, .pure-g h3, .pure-g h4 {
	font-family: Open-Bold, sans-serif;
	letter-spacing: normal;
}

.pure-g p, .pure-g li, .pure-g div {
	font-family: Open-Light, sans-serif;
	letter-spacing: normal;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Open-Light, serif;
    letter-spacing: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    top: 5px;
    position: absolute;
}

#main {
	color: white;
	font-size: 30px;
	width: 850px;
	margin: 2.5% auto;
	height: 95%;
}

.signup-form {
	color: black;
	font-size: 20px;
}

.weather-icon {
	display: block;
	width: 60px;
  font-size: 4em;
	font-family: 'Weather';
}

.weather-temp {
	margin-left: 60px;
	font-size: 2.7em;
}

.weather-desc {
	font-family: Open-Light, sans-serif;
	margin-top: -10px;
}

#twitter-result, #reminder-result , #qr-result{
	position: relative;
}

#qr-img {
    background: white;
    padding: 10px;
    display: inline-block;
}

#twitter-username {
	margin: 0 50px 15px;
}

#tweet {
	font-size: 30px;
	font-family: Open-Light, sans-serif;
}

#reminders-header {
	display: inline-block;
	margin: 0 50px 15px;
}

.pure-g {
	height: 33%;
}

.events {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.events li {
	margin: 0;
}

.event-start {
	font-family: Open-Bold;
	font-size: 25px;
}

.event-title {
	font-family: Open-Light;
	margin-left: 25px;
	font-size: 20px;
}

#settings-google h4, #settings-twitter h4 {
	margin: 35px 0 5px;
}


input {
	color: #333;
}
#settings-google p {
	font-size: 20px;
}
